<!-- provides a short description of Sweet Tooth Inc. Nav bar to home page. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta chartset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the Author</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/web_design.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-customclass navbar-expand-lg">
    <div class="container-fluid">
        <img src="../static/logo-01.png", width="70px">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=" navbar-mobile navbar-toggler-icon icon" href="javascript:void(0);" onclick="myFunction()"><i class="fa fa-bars"></i></span>
        </button>
        <div class="navbar-mobile collapse navbar-collapse" id="navbarSupportedContent">
            <center>
            <div class="container">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">
                        Home  <i class="bi-house-door-fill" style="font-size: 1.5rem;"></i>
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="tales.html">
                        Mythical Tales    <i class="bi-book" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="author.html">
                        About the Author <i class="bi-pencil-square" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="illustrator.html">
                        About the Illustrator <i class="bi-palette" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
            </ul>
            </div>
            </center>
        </div>
    </div>
    </nav>

    <!-- for mobile sites -->
    <script>
        function myFunction() {
          var x = document.getElementById("mynavbar-mobile");
          if (x.className === "navbar-mobile") {
            x.className += " responsive";
          } else {
            x.className = "navbar-mobile";
          }
        }
    </script>
        <div class="container">
            <div class="transition">
                <p class="padding"></p>
                    <p class="padding"></p>
                    <div class="row head_wink_wink justify-content-center align-items-center">
                        <div class="col-md-11">
                            About Mylene Leumin
                        </div>
                    </div>

                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-5 justify-content-right align-items-">
                            <center>
                            <img src="../static/mom_profile.jpg", width="67%">
                            </center>
                        </div>
                        <div class="col-md-6 peepee_desc">
                            <p class="padding"></p>
                            <p class="padding"></p>
                            <p>
                                Mylene Leumin is a nurse by profession and she is passionate with her work as an Intensive Care Unit
                                Nurse Preceptor and as a bedside nurse. Since 1999, she worked in critical care for neonates and pediatrics and 
                                moved on to adult intensive care.
                            </p>
                            <p>
                                Her love for picture books stems from her experience in kindergarten.
                                Mylene remembers her Kindergarten teacher reading Rapunzel, but the class only had one book to share.
                                She recalls staring at the pages shown with pretty pictures but she could not touch the pages for as long as she wanted.
                                She did not own a book of fairy tales but her best friend let her borrow two volumes of fairy tales.
                                In the summer of third grade, she read all the stories in the books.

                            </p>
                        </div>
                    </div>
                    
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-11 peepee_desc">
                            <p>
                                Her background in writing stems from being an editor in the high school paper, <em>The Josephites.</em>
                                She wrote poems that were published both in high school and university school papers. In her final year in Nursing, she was chosen as
                                the Editor-in-Chief of the College of Nursing yearbook Class of 1993, the <em>Nemesis</em>. Years ago,
                                she studied writing courses in the U.S. to earn her <em>Diploma for Writing for Children and
                                Teenagers</em>. She stopped writing while she raised children.

                                One day, her son went through her stories that she failed for submission. He read them and he wished he could make a book of the story.
                                This generated the idea and motivated Mylene to publish her own stories.
                            </p>
                            <p>
                                The Tales of POTOS (Pearl of the Orient Seas) books are her first books published. With her
                                artistic talent, she works with the illustrator on the facial expressions, body
                                language, and settings of her books.
                            </p>
                            <p>
                                Mylene is sharing her books for children to enjoy and to gain moral lessons from.
                            </p>
                        </div>
                    </div>
            
            <!-- transition -->
            </div>
            <!-- container -->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
        